#wrap { 
    width: 1127px; 
    margin: 0 auto; 
}

section {

font-family: 'Droid Sans', sans-serif;
display: block;

}

article {

border-style: none;

display: block;

background-color: #011E69;

color: #FFFFFF;

width: 1127px;

}

.logo {
    height: 100px;
    display: block;
    margin: 0 auto;
}

/*.logoWrap {
    
}

.logo {
    height: 100px;
    display: block;
    margin: 0 auto;
}*/
